Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Mesh/character/character.uasset
Content/Mesh/character/character.uasset
Content/Mesh/character/character.uasset
Content/Mesh/character/soldier/walkCycle_walkcycle.uasset
Content/Mesh/character/soldier/characterExport.uasset
Content/Mesh/character/soldier/characterExport.uasset
Content/Mesh/character/soldier/characterExport.uasset
Content/Mesh/character/soldier/characterExport.uasset
Content/Mesh/character/soldier/characterExport.uasset
Content/Mesh/character/soldier/characterExport_Anim_recamber.uasset
Content/Mesh/character/soldier/characterExport_Anim_run.uasset
Content/Mesh/character/soldier/characterExport.uasset
Content/Blueprints/Player/BPUnitSpawn.uasset
Content/Mesh/character/soldier/characterExport.uasset
